<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tnkj.project.system.line.mapper.LineMapper">
    
    <resultMap type="Line" id="LineResult">
        <result property="id"    column="id"    />
        <result property="number"    column="number"    />
        <result property="name"    column="name"    />
        <result property="shortName"    column="short_name"    />
        <result property="level"    column="level"    />
        <result property="lineNumber"    column="line_number"    />
        <result property="classId"    column="class_id"    />
        <result property="sort"    column="sort"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectLineVo">
        select l.id, l.number, l.name, l.short_name, l.level, l.line_number, l.class_id, l.sort, l.del_flag, l.remark, l.create_by, l.create_time, l.update_by, l.update_time
        from sys_line l
    </sql>

    <select id="selectLineList" parameterType="Line" resultMap="LineResult">
        <include refid="selectLineVo"/>
        <where>  
            <if test="number != null  and number != ''"> and l.number = #{number}</if>
            <if test="name != null  and name != ''"> and l.name like concat('%', #{name}, '%')</if>
            <if test="shortName != null  and shortName != ''"> and l.short_name like concat('%', #{shortName}, '%')</if>
            <if test="level != null  and level != ''"> and l.level = #{level}</if>
            <if test="lineNumber != null  and lineNumber != ''"> and l.line_number = #{lineNumber}</if>
            <if test="classId != null  and classId != ''"> and l.class_id = #{classId}</if>
            <if test="sort != null "> and l.sort = #{sort}</if>
        </where>
        order by l.sort
    </select>
    
    <select id="selectLineById" parameterType="String" resultMap="LineResult">
        <include refid="selectLineVo"/>
        where l.id = #{id}
    </select>
        
    <insert id="insertLine" parameterType="Line">
        insert into sys_line
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="number != null  and number != ''">number,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="shortName != null  and shortName != ''">short_name,</if>
            <if test="level != null  and level != ''">level,</if>
            <if test="lineNumber != null  and lineNumber != ''">line_number,</if>
            <if test="classId != null  and classId != ''">class_id,</if>
            <if test="sort != null ">sort,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="number != null  and number != ''">#{number},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="shortName != null  and shortName != ''">#{shortName},</if>
            <if test="level != null  and level != ''">#{level},</if>
            <if test="lineNumber != null  and lineNumber != ''">#{lineNumber},</if>
            <if test="classId != null  and classId != ''">#{classId},</if>
            <if test="sort != null ">#{sort},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateLine" parameterType="Line">
        update sys_line
        <trim prefix="SET" suffixOverrides=",">
            <if test="number != null  and number != ''">number = #{number},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="shortName != null  and shortName != ''">short_name = #{shortName},</if>
            <if test="level != null  and level != ''">level = #{level},</if>
            <if test="lineNumber != null  and lineNumber != ''">line_number = #{lineNumber},</if>
            <if test="classId != null  and classId != ''">class_id = #{classId},</if>
            <if test="sort != null ">sort = #{sort},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLineById" parameterType="String">
        delete from sys_line where id = #{id}
    </delete>

    <delete id="deleteLineByIds" parameterType="String">
        delete from sys_line where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectCurSort" resultType="Long">
        select (max(sort)+1) as sort from sys_line
    </select>
    
</mapper>