<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tnkj.project.syn.message.mapper.MessageMapper">
    
    <resultMap type="Message" id="MessageResult">
        <result property="id"    column="id"    />
        <result property="system"    column="system"    />
        <result property="oprTable"    column="opr_table"    />
        <result property="message"    column="message"    />
        <result property="type"    column="type"    />
        <result property="synStatus"    column="syn_status"    />
        <result property="errCause"    column="err_cause"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMessageVo">
        select id, system, opr_table, message, type, syn_status, err_cause, create_by, create_time, update_by, update_time
        from sys_message
    </sql>

    <select id="selectMessageList" parameterType="Message" resultMap="MessageResult">
        <include refid="selectMessageVo"/>
        where syn_status!='同步成功'
        <if test="system != null  and system != ''"> and system = #{system}</if>
        <if test="oprTable != null  and oprTable != ''"> and opr_table = #{oprTable}</if>
        <if test="message != null  and message != ''"> and message = #{message}</if>
        <if test="type != null  and type != ''"> and type = #{type}</if>
        <if test="synStatus != null  and synStatus != ''"> and syn_status = #{synStatus}</if>
        <if test="errCause != null  and errCause != ''"> and err_cause = #{errCause}</if>
        order by id
    </select>
    
    <select id="selectMessageById" parameterType="Long" resultMap="MessageResult">
        <include refid="selectMessageVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMessage" parameterType="Message" useGeneratedKeys="true" keyProperty="id">
        insert into sys_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="system != null  and system != ''">system,</if>
            <if test="oprTable != null  and oprTable != ''">opr_table,</if>
            <if test="message != null  and message != ''">message,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="synStatus != null  and synStatus != ''">syn_status,</if>
            <if test="errCause != null  and errCause != ''">err_cause,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="system != null  and system != ''">#{system},</if>
            <if test="oprTable != null  and oprTable != ''">#{oprTable},</if>
            <if test="message != null  and message != ''">#{message},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="synStatus != null  and synStatus != ''">#{synStatus},</if>
            <if test="errCause != null  and errCause != ''">#{errCause},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMessage" parameterType="Message">
        update sys_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="system != null  and system != ''">system = #{system},</if>
            <if test="oprTable != null  and oprTable != ''">opr_table = #{oprTable},</if>
            <if test="message != null  and message != ''">message = #{message},</if>
            <if test="type != null  and type != ''">type = #{type},</if>
            <if test="synStatus != null  and synStatus != ''">syn_status = #{synStatus},</if>
            <if test="errCause != null  and errCause != ''">err_cause = #{errCause},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMessageById" parameterType="Long">
        delete from sys_message where id = #{id}
    </delete>

    <delete id="deleteMessageByIds" parameterType="String">
        delete from sys_message where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>