<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('部门列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="dept-form">
					<div class="select-list">
						<ul>
							<li>
								部门名称：<input type="text" name="name"/>
							</li>
							<li>
								部门状态：<select name="status" th:with="type=${@dict.getType('sys_normal_disable')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.treeTable.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
                
            <div class="btn-group-sm" id="toolbar" role="group">
		        <a class="btn btn-success" onclick="$.operate.add(1)" shiro:hasPermission="system:dept:add">
                    <i class="fa fa-plus"></i> 新增
                </a>
                <a class="btn btn-primary" onclick="$.operate.edit()" shiro:hasPermission="system:dept:edit">
		            <i class="fa fa-edit"></i> 修改
		        </a>
                <a class="btn btn-info" id="expandAllBtn">
                    <i class="fa fa-exchange"></i> 展开/折叠
                </a>
	        </div>
       		 <div class="col-sm-12 select-table table-striped">
	            <table id="bootstrap-tree-table"></table>
	        </div>
	    </div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var addFlag = [[${@permission.hasPermi('system:dept:add')}]];
		var editFlag = [[${@permission.hasPermi('system:dept:edit')}]];
		var removeFlag = [[${@permission.hasPermi('system:dept:remove')}]];
		var datas = [[${@dict.getType('sys_normal_disable')}]];
		var levelDatas = [[${@dict.getType('sys_dept_level')}]];
		var prefix = ctx + "system/dept"

		$(function() {
		    var options = {
		        code: "id",
		        parentCode: "parentId",
		        uniqueId: "id",
		        url: prefix + "/list",
		        createUrl: prefix + "/add/{id}",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove/{id}",
		        modalName: "机构",
		        columns: [{
                    field: 'selectItem', 
                    radio: true
                 },
                 {
		            field: 'name',
		            title: '机构名称',
		            align: "left",
					width: '20%'
		        },
				{
					field: 'level',
					title: '机构级别',
					align: "left",
					width: '10%',
					formatter: function(value, item, index) {
						return $.table.selectDictLabel(levelDatas,value);
					}
				},
		        {
		            field: 'status',
		            title: '状态',
		            align: "left",
					width: '10%',
		            formatter: function(value, item, index) {
		            	return $.table.selectDictLabel(datas,value);
		            }
		        },
		        {
		            field: 'createTime',
		            title: '创建时间',
		            align: "left",
					width: '20%',
		        },
		        {
		            title: '操作',
		            align: 'left',
					width: '20%',
		            formatter: function(value, row, index) {
		                if (row.parentId != 0) {
		                    var actions = [];
		                    if(row.level=='7' || row.level=='8' || row.level=='9'){
								actions.push('<a><i class="fa fa-long-arrow-up" onclick="upOrDown(\'' + row.id +'\',\''+'up'+ '\')"></i></a>   <a onclick="upOrDown(\'' + row.id +'\',\''+'down'+ '\')"><i class="fa fa-long-arrow-down"></i></a> ');
							}
							actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
		                    actions.push('<a class="btn btn-info  btn-xs ' + addFlag + '" href="javascript:void(0)" onclick="$.operate.add(\'' + row.id + '\')"><i class="fa fa-plus"></i>新增</a> ');
		                    actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-trash"></i>删除</a>');
		                    return actions.join('');
		                } else {
							return '';
		                }
		            }
		        }]
		    };
		    $.treeTable.init(options);
		});

		function upOrDown(id,upOrDwon){
			var dataList;
			var json = {};
			json['id']=id;
			json['upOrDwon']=upOrDwon;
			$.ajax({
				type: "post",
				url: prefix+"/upOrDownRow",
				async: false,
				data: json,
				dataType: 'JSON',
			    success: function (result) {
					if(result.code=='0'){
						$.bttTable.bootstrapTreeTable('refresh');
					}else{
						$.modal.alertWarning(result.msg);
					}
				}
			});
		}
	</script>
</body>
</html>