<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增线路')" />
    <th:block th:include="include :: select2-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-line-add">
            <input name="deptId" type="hidden" id="treeId"/>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">线路代码<span style="color: red; ">*</span>：</label>
                        <div class="col-sm-8">
                            <input id="number" name="number" class="form-control" type="text" maxlength="50" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">线路名称<span style="color: red; ">*</span>：</label>
                        <div class="col-sm-8">
                            <input id="name" name="name" class="form-control" type="text" maxlength="50" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">简称：</label>
                        <div class="col-sm-8">
                            <input id="shortName" name="shortName" class="form-control" type="text" maxlength="50">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">归属部门：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input name="deptName" onclick="selectDeptTree()" id="treeName" type="text" placeholder="请选择归属部门" class="form-control">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">排序号<span style="color: red; ">*</span>：</label>
                        <div class="col-sm-8">
                            <input id="sort" name="sort" class="form-control" type="text" maxlength="5" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">线路级别：</label>
                        <div class="col-sm-8">
                            <select id="level" name="level" class="form-control m-b" th:with="type=${@dict.getType('sys_line_level')}">
                                <option value=""></option>
                                <option th:each="dict:${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">线路类型：</label>
                        <div class="col-sm-8">
                            <select id="lineNumber" name="lineNumber" class="form-control m-b" th:with="type=${@dict.getType('sys_line_number')}">
                                <option value=""></option>
                                <option th:each="dict:${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">线路等级：</label>
                        <div class="col-sm-8">
                            <select id="classId" name="classId" class="form-control m-b" th:with="type=${@dict.getType('sys_line_classid')}">
                                <option value=""></option>
                                <option th:each="dict:${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">线路描述：</label>
                        <div class="col-sm-10">
                            <textarea name="remark" class="form-control"  maxlength="500"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: select2-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/line"
        $("#form-line-add").validate({
            focusCleanup: true
        });

        $(function() {
            $('#level').val('1').select2();
        })

        function submitHandler() {
            if ($.validate.form()) {
                if($.common.isNotNum($("#sort").val())){
                    $.modal.alertWarning("您好,排序号只允许输入大于0的整数,请检查!");
                    return;
                }
                $.operate.save(prefix + "/add", $('#form-line-add').serialize());
            }
        }

        /*线路管理-新增-选择部门树*/
        function selectDeptTree() {
            var treeId = $("#treeId").val();
            var deptId = $.common.isEmpty(treeId) ? "1" : $("#treeId").val();
            var url = ctx + "system/dept/selectDeptTree/" + deptId;
            var options = {
                title: '选择部门',
                width: "380",
                url: url,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var tree = layero.find("iframe")[0].contentWindow.$._tree;
            if ($.tree.notAllowParents(tree)) {
                var body = layer.getChildFrame('body', index);
                $("#treeId").val(body.find('#treeId').val());
                $("#treeName").val(body.find('#treeName').val());
                layer.close(index);
            }
        }
    </script>
</body>
</html>